
#paginaPrincipal {
    background-color: #337F96;
    column-count: 2;
    text-align: center;
    }
img.primerImagen { 
    width: 600px; height: 500px;
    border-top: 100px solid #337F96;
    border-bottom: 100px solid #337F96;
    border-left: 50px solid #337F96;
   }
img.segundaImagen { 
    width: 100px; height: 100px;
    }
pre, h1 {
    font-size: 1.5em;
    color: rgb(255, 255, 255);
    background-color: #337F96;
    }
#titulo {
    font-family: 'Courier New', Courier;
    font-size: 25px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #337F96;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: small-caps;
    text-transform: capitalize;
    border-top: 50px solid;
    }
#accessButtonsSection {
    font-size: 1.5em;
    color: rgb(255, 255, 255);
    background-color: #337F96;
    text-align: center;
    }
#cipherButton {
    color: #337F96;
    background: #F5FFFC;
    margin: 125px auto;
    font-size: 25px;
    letter-spacing: 2px;
    font-weight: 700;
    border-right:50px solid;
    border-left: 50px solid;
    }
#decipherButton {
    color: #337F96;
    background: #F5FFFC;
    margin: 125px auto;
    font-size: 25px;
    letter-spacing: 2px;
    font-weight: 700;
    border-left: 50px solid;
    border-right: 50px solid;
    }
    .hola {
        font-size: 1.5em;
        color: rgb(255, 255, 255);
        background-color: #337F96;
        margin: 50px auto;
        border-left: 50px solid #337F96;
        }
    #cipherButton2,#decipherButton2 {
        color: #337F96;
        background: #F5FFFC;
        margin: 30px auto;
        font-size: 25px;
        letter-spacing: 2px;
        font-weight: 700;
        border-right: 100px solid;
        border-left: 100px solid;
        }
    #messageOutput2, #messageOutput, #messageInput2, #messageInput {
        border-right: 10px solid #337F96;
        border-left: 10px solid #337F96;
        margin: 50px solid #337F96;
    }